@using MyWeb.Models
@model UserModel

<div class="row" style="margin-top: 25px">
    <div style="margin-bottom:20px">
        <h2>Formulario de registro</h2>
    </div>
    @using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
    {
        <form>
            <div class="form-group">
                <label for="Name">Nombre</label><br />
                @Html.TextBoxFor(x => x.Name, new { @type = "text", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="Name">Fecha de nacimiento</label><br />

                @Html.TextBoxFor(x => x.Birthdate, new { @type = "date", @class = "form-control datepicker" })
                @Html.ValidationMessageFor(m => m.Birthdate, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="Name">Sexo</label><br />
                @Html.DropDownListFor(x => x.Sex,
                new SelectList(Enum.GetValues(typeof(Gender))),
                "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Sex, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary">Enviar datos</button>

            <br /><br />
            @if (ViewBag.success)
            {
                <div class="alert alert-success" role="alert">
                    Registro creado exitosamente!
                </div>
            }

        </form>
    }
</div>